$contentBackground: url(../img/m-h-night.jpg);
$font1: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;
$gradient: linear-gradient(to right, rgb(221,163,7), rgb(203,133,26) 25%, rgb(186,107,43) 50%, rgb(170,81,60) 75%, rgb(150,50,79));

$colors: (
    logoColor: white,
    headerColor: rgb(192,195,206),
    highlightingColor: rgb(255,78,51),
    buttonColor: rgb(227,172,0),
    backColor: rgb(33,35,46),
    cardColor: rgb(59,63,80),
    darkColor: rgb(33,35,46),
    whiteColor: white,
    greenColor: rgb(105, 153, 0),
    blueColor: rgb(20, 160, 199),
    greyColor: rgb(192,195,206)
);